html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 25px;
}
.horizontal-line {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #121212;
}
.vertical-line {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
        box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
        border-right: 1px solid #121212;
}
.vertical-line-left {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
        box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
        border-left: 1px solid #121212;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
        border-top: 1px solid #121212;
}

table {
    width: 100%;
}
tr {
    line-height: 100%;
}
tr:hover {
    background-color: #222222;
}
td.time {
    padding-right: 5px;
    vertical-align: top;
}

.repeated-time {
}
.repeated-time .cof-chat_time,
.repeated-time .cof-chat_time_delimiters {
    color: #333;
}
.repeated-time .cob-chat_time,
.repeated-time .cob-chat_time_delimiters {
    background-color: transparent;
}
td.prefix {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    white-space: pre;
    border-right: 1px solid #444;
}
td.message {
    word-wrap: break-word;
    word-break: break-word;
    vertical-align: top;
    width: 100%;
    padding-left: 5px;
}
hr {
    margin: 0;
    border-color: darkgreen;
}
.text {
    white-space: pre-wrap;
}

body {
    color: #ddd;
    background-color: #181818;
    padding-left: 0;
    padding-right: 5px;
    padding-bottom:70px;
}

input#sendMessage {
    width: 100%;
}
#footer button {
    border-radius: 0;
}
.panel input, .panel .input-group {
  max-width: 300px;
}
input[type=text], input[type=password], .badge {
    border: 0;
    border-radius: 0;
    color: #ccc;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
}
#topbar {
    position: fixed;
    width: 100%;
    height: 35px;
    max-height: 35px;
    z-index: 2;
    line-height: 35px;
    white-space: nowrap;
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
}
#topbar .brand {
    float: left;
    height: 35px;
    padding-left: 5px;
}
    #topbar .brand img {
        height: 32px;
    }
#topbar .title {
    position: fixed;
    left: 145px; /* sidebar */
    overflow: hidden;
}
#topbar .actions {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    font-size: larger;
    position: fixed;
    right: 0;
    background: #282828;
}
#topbar .actions > * {
    padding-left: 5px;
}
#topbar .dropdown-menu form {
    padding-left: 6px;
    padding-right: 6px;
}

#topbar, #sidebar, .panel, .dropdown-menu {
    background: #282828;
}
#sidebar {
    position: fixed;
    width: 140px;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 35px; /* topbar */
    font-size: smaller;
  }
#sidebar form {
}

#sidebar .badge {
    border-radius: 0;
    margin-right: -15px;
}

#sidebar ul.indented li.indent span.buffername {
    padding-left: 10px;
}

#nicklist {
    position: fixed;
    width: 100px;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    top: 0;
    padding-top: 35px; 
    padding-left: 5px;
    padding-bottom: 35px;
}
#nicklist ul {
    padding: 0;
    margin: 0;
}
#nicklist li,
#nicklist a {
    display: block;
}
#nicklist a {
    text-decoration: none;
}
#nicklist a:hover {
    background: #3b3b3b;
}

#connection-infos {
    float: left;
    max-width: 10%;
    padding-left: 5px;
    font-size: 12px;
    color: #aaa;
    overflow: hidden;
}

.nav-pills > li > a {
    border-radius: 0;
    color: #ddd;
}
.nav-pills > li > a:hover, .nav-pills > li > a:hover span {
    color: #222;
}
.content {
    height: 100%; 
    min-height: 100%; 
}

.monospace {
    font-family: 'Terminus', 'Consolas', 'Monaco', 'Inconsolata', 'Ubuntu Mono', monospace;
}

#bufferlines {
    position: relative;
    height: 98%;
    overflow-y: auto;
    margin-left: 145px;    /* sidebar */
    width: auto;
    top: 35px; /* topbar */
    padding-bottom: 10px;
    margin-right: -5px;
}
.withnicklist {
    margin-right: 100px !important; /* nicklist */
}
#bufferlines .btn {
    font-family: sans-serif;
}

.navbar-fixed-bottom {
    margin: 0 5px 0 145px; /* sidebar */
}
.navbar-inverse {
    background-color: #181818;
}
@media (max-width: 968px) {
    #sidebar {
        font-size: normal;
        z-index: 1;
        width: 60%;
    }
    #sidebar.in, #sidebar.collapsing {
        -webkit-box-shadow: 0px 0px 120px #000;
                box-shadow: 0px 0px 120px #000;
    }
    #topbar .title {
        left: 40px;
    }
    #bufferlines, #nicklist {
        position: relative;
        min-height: 0;
        margin-left: 0;
        height: auto;
        max-width: 100%;
        border: 0;
    }
    #nicklist {
        width: 100%;
        text-align: center;
    }
    #bufferlines {
        padding-bottom: 38px; /* navbar fixed bottom */
        top: 10px;
    }
    .navbar-fixed-bottom {
        margin: 0;
    }
    .navbar {
        min-height: 0%;
    }
    #bufferlines td.time {
        display: inline;
        padding-right: 0;
    }
    #bufferlines td.prefix {
        display: inline;
        padding-right: 0;
        border: 0;
    }
    #bufferlines td.message {
        padding-left: 0;
        display: inline;
    }
    #bufferlines td.prefix:before {
        content: "<";
    }
    #bufferlines td.prefix:after {
        content: ">";
    }
}
.color-light-green {
    color: chartreuse;
}

.color-27 {
    color: deepskyblue;
}

.danger, .alert-danger, .badge .alert-danger {
    background-color: rgb(217, 83, 79);
    color: #ddd;
}
.alert-danger {
  border-color: #121212;
  color: black;
}

li.notification {
    color: green;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track-piece  {
    background-color: black;
}
::-webkit-scrollbar-thumb:vertical {
    height: 15px;
    background: rgba(255,255,255,0.5);
}

img.embed {
  max-height: 300px;
}
