html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 25px;
}
.horizontal-line {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #121212;
}
.vertical-line {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
        box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
        border-right: 1px solid #121212;
}
.vertical-line-left {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
        box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
        border-left: 1px solid #121212;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
        border-top: 1px solid #121212;
}

table {
  width: 100%;
}
tr {
    line-height: 100%;
}
tr:hover {
    background-color: #222222;
}
td.time {
    padding-right: 5px;
    vertical-align: top;
}

.repeated-time {
    display: none;
}
td.prefix {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    white-space: pre;
    border-right: 1px solid #444;
}
td.message {
    word-wrap: break-word;
    vertical-align: top;
    width: 100%;
    padding-left: 5px;
}
hr {
  margin: 0;
  border-color: darkgreen;
}
.text {
    white-space: pre-wrap;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

body {
    color: #ddd;
    background-color: #181818;
    padding-left: 0;
    padding-right: 5px;
    padding-bottom:70px;
}

input#sendMessage {
    width: 100%;
    font-size: large;
}
#footer button {
    border-radius: 0;
}
.panel input, .panel .input-group {
  max-width: 300px;
}
input[type=text], input[type=password], .badge {
    border: 0;
    border-radius: 0;
    color: #6e6e6e;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
}
#topbar {
    position: fixed;
    width: 100%;
    height: 25px;
    max-height: 25px;
    z-index: 1;
    line-height: 25px;
    white-space: nowrap;
}
    #topbar .brand {
        float: left;
        height: 25px;
        padding-left: 5px;
    }
        #topbar .brand img {
            height: 25px;
        }
    #topbar .title {
        position: fixed;
        left: 14%;
        overflow: hidden;
    }
    #topbar .actions {
        margin-left: 5px;
        padding-left: 5px;
        position: fixed;
        right: 0;
        background: #282828;
    }
    #topbar .dropdown-menu form {
        padding-left: 6px;
        padding-right: 6px;
    }

#topbar, #sidebar, .panel, .dropdown-menu {
    background: #282828;
}
#sidebar {
    position: fixed;
    width: 12%;
    min-height: 100%;
    height: 100%;
    min-width: 130px;
    overflow: auto;
    padding-top: 35px; /* topbar */
    font-size: smaller;
  }
    #sidebar form {
    }

    #sidebar .badge {
        border-radius: 0;
        margin-right: -15px;
    }
#nicklist {
    position: fixed;
    width: 100px;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    top: 0;
    padding-top: 25px; 
    padding-left: 5px;
    padding-bottom: 35px;
}
    #nicklist ul {
        padding: 0;
        margin: 0;
    }
.nav-pills > li > a {
    border-radius: 0;
    color: #ddd;
}
.nav-pills > li > a:hover, .nav-pills > li > a:hover span {
    color: #222;
}
.content {
    height: 100%; 
    min-height: 100%; 
}

#bufferlines {
    font-family: 'Terminus', 'Consolas', 'Monaco', 'Inconsolata', 'Ubuntu Mono', monospace;
    position: relative;
    height: 99%;
    overflow-y: auto;
    margin-left: 14%;    /* sidebar */
    width: auto;
    top: 25px; /* topbar */
    padding-bottom: 10px;
}
.withnicklist {
    margin-right: 100px !important; /* nicklist */
}
#bufferlines .btn {
    font-family: sans-serif;
}

.navbar-fixed-bottom {
    margin: 0 5px 0 14%;
}
.navbar-inverse {
    background-color: #181818;
}
@media (max-width: 968px) {
    #sidebar, #bufferlines, #nicklist {
        position: relative;
        min-height: 0;
        margin-left: 0;
        height: auto;
        max-width: 100%;
        border: 0;
    }
    #sidebar, #nicklist {
        width: 100%;
        text-align: center;
    }
    .navbar-fixed-bottom {
        margin: 0 5px 0 5px;
    }
}
.color-light-green {
    color: chartreuse;
}

.color-27 {
    color: deepskyblue;
}

.danger, .alert-danger, .badge .alert-danger {
    background-color: rgb(217, 83, 79);
    color: #ddd;
}
.alert-danger {
  border-color: #121212;
  color: black;
}

.color-28 {
    color: greenyellow;
}

.color-00 {
    color: coral;
}

.color-yellow {
    color: yellow;
}

.color-dark-red {
    color: darkred;
}

.color-dark-green {
    color: green;
}

.color-dark-blue {
    color: darkblue;
}

.color-dark-gray {
    color: gray;
}

.color-gray {
    color: lightgray;u
}

.color-brown {
    color: brown;
}

.color-cyan {
    color: cyan;
}

.color-dark-cyan {
    color: darkcyan;
}

li.notification {
    color: green;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track-piece  {
    background-color: black;
}
::-webkit-scrollbar-thumb:vertical {
    height: 15px;
    background: rgba(255,255,255,0.5);
}
