html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

.mobile {
  display: none;
}

a {
    cursor: pointer;
}

.version {
   margin-right: 1em;
}

.hidden-bracket {
  position: absolute;
  left: -1000px;
  overflow: hidden;
}

td.prefix {
    text-align: right;
    vertical-align: top;
    padding: 1px 5px 1px 1px;
    white-space: pre;
    border-right: 1px solid #444;
}
td.message {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    padding: 1px 1px 1px 5px;

-ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;

}

#readmarker {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 2px;
}

.text {
    white-space: pre-wrap;
}

#sendMessage {
    height: 35px;
    resize: none;
    padding: 6px 12px;
    outline: none;
    border-bottom: none;  
}

#sendMessage:focus, #sendMessage:active {
    border-bottom: 2px solid #555;
}

.input-group-btn {
    vertical-align: top;
}

.input-group-addon {
    background: none;
    border: none;
    color: #ccc;
}

#jump-addon {
    width: 0px;
    max-width: 0px;
    padding: 0;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}
.showjumpkeys #jump-addon {
    width: auto;
    max-width: 70px;
    padding: 6px 12px;
}

.panel input, .panel .input-group {
    max-width: 300px;
}
input[type=text], input[type=password], #sendMessage {
    border: 0;
    border-radius: 0;
}

.btn-complete-nick {
    cursor: pointer;
}

.btn-send-image {
    cursor: pointer;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.imgur-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    padding: 0;
    opacity: 0;
    filter: ~"alpha(opacity=0)";
    pointer-events: none;
}

.no-gutter [class*="col"] {
    padding: 0px
}
.glyphicon {
    top: 0; /* Fixes alignment issue in top bar */
}
#topbar {
    width: 100%;
    height: 35px;
    max-height: 35px;
    z-index: 3;
    line-height: 35px;
    white-space: nowrap;
}
#topbar .brand {
    float: left;
    height: 35px;
}
#topbar .brand a {
    display: inline-block;
    padding: 0 10px;
}
#topbar .brand img {
    height: 32px;
    padding: 0px 2px 4px 2px;
}
#topbar .brand button {
    position: absolute;
    line-height: 15px;
    font-size: 9pt;
    margin-left: 10px
}
#topbar .title {
    left: 145px; /* sidebar */
    overflow: hidden;
    width: 100%; /* for title modal click area */
}

#topbar .actions {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 0;
    padding-right: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 22px;
    right: 0;
}
#topbar .actions > * {
    padding: 0 5px;
    display: inline-block;
}
#topbar .actions a {
    font-size: 25px;
    padding-top: 2px;
}
#topbar .dropdown-menu form {
    padding-left: 6px;
    padding-right: 6px;
}

.upload-error {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#sidebar{
    overflow-y: auto;
    min-width: 200px;
}

#topbar .brand{
    min-width: 200px;
}

#sidebar[data-state=hidden], #sidebar.ng-hide {
    display: none;
}

#sidebar .buffer .badge {
   display: none;
}

#sidebar .buffer.unread .badge, #sidebar .buffer.notification .badge {
    display: inline-block;
    border-radius: 0;
    margin-right: -10px;
    padding: 4px 7px;
}

#sidebar ul.indented li.indent span.buffername {
    padding-left: 10px;
}
#content{
    height: 100%;
}
#nicklist {
    height:0px;
    min-height: 100%;
    min-width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
#nicklist ul {
    padding: 0;
    margin: 0;
}
#nicklist li,
#nicklist a {
    display: block;
}
#nicklist a {
    text-decoration: none;
}

#connection-infos {
    float: left;
    max-width: 10%;
    padding-left: 5px;
    font-size: 12px;
    overflow: hidden;
}

.nav-pills li {
    min-height: 20px;
}
.nav-pills li+li {
    margin-top: 0;
}
.nav-pills > li > a {
    border-radius: 0;
    color: #ddd;
    padding: 5px 10px;
}
.nav-pills > li > a:hover, .nav-pills > li > a:hover span {
    color: #222;
    text-decoration: none;
    background-color: #eee;
}
/* fix for mobile firefox which ignores :hover */
.nav-pills > li > a:active, .nav-pills > li > a:active span {
    text-decoration: none;
    background-color: #eee;
    color: #222;
}

.nav-pills > li.highlight > a, .nav-pills > li.highlight > a span {
    text-decoration: none;
    color: #fff;
    background: #428BCA;
}

.nav-pills > li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bufferlines {
    overflow-y: auto;
    padding-left: 5px;
    min-width: 0;
    -webkit-overflow-scrolling: touch; /* Native scroll on ios */
}

#middlecontainer {
}

tr.bufferline {
    line-height: 100%;
}

td.time {
    padding: 1px 5px 1px 1px;
    vertical-align: top;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#bufferlines .btn {
    font-family: sans-serif;
}
#reconnect {
    top: 35px;
    position: fixed;
    z-index: 9999;
    width: 80%;
    margin: 0;
    padding: 5px;
    left: 10%;
}
#reconnect a {
    color: white;
}

.footer .btn {
    padding: 8px 12px 1px 12px;
    border-radius: 0;
}

#inputform {
    position: relative;
}

#imgur-upload-progress {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.imgur-progress-bar {
    width: 0%;
    height: 5px;
    margin-top: 1px;
    background: #428BCA;
}

/* fix for mobile firefox which ignores :hover */
.nav-pills > li > a:active, .nav-pills > li > a:active span {
    text-decoration: none;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 15px;
}

div.embed * {
    max-width: 100%;
}

/* not for all img embeds so as not to affect the yr plugin (302px) */
div.embed img.embed {
    max-height: 300px;
    max-width: 100%;
}

video.embed {
    max-width: 100%;
}

div.colourbox {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #bbb;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
}


#sidebar .showquickkeys .buffer .buffer-quick-key {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    opacity: 0.7;
}
#sidebar .buffer .buffer-quick-key {
    margin-left: -0.7em;
    margin-right: -0.2em;
    font-size: smaller;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    opacity: 0;
    text-shadow: -1px 0px 4px rgba(255, 255, 255, 0.4),
    0px -1px 4px rgba(255, 255, 255, 0.4),
    1px 0px 4px rgba(255, 255, 255, 0.4),
    0px 1px 4px rgba(255, 255, 255, 0.4);
    vertical-align: baseline;
    display: inline-block;
    width: 1em;
    align: right;
}

#sidebar .showjumpkeys .buffer .buffer-jump-key {
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    opacity: 0.7;
    margin-left: -1.2em;
    margin-right: 0.1em;
}
#sidebar .buffer .buffer-jump-key {
    margin-left: -1.2em;
    margin-right: -0.2em;
    font-size: smaller;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    opacity: 0;
    text-shadow: -1px 0px 4px rgba(255, 255, 255, 0.4),
    0px -1px 4px rgba(255, 255, 255, 0.4),
    1px 0px 4px rgba(255, 255, 255, 0.4),
    0px 1px 4px rgba(255, 255, 255, 0.4);
    vertical-align: baseline;
    display: inline-block;
    width: 1em;
    align: right;
}

@media (max-width: 968px){
    .mobile {
        display: inherit;
    }
    .desktop {
        display: none;
    }
    #topbar .title {
        left: 40px;
        right: 60px;
        text-align: center;
        font-size: 18px;
        width: initial;
        z-index: -1;
    }
}


.gb-modal {
    z-index: 1000;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gb-modal[data-state=hidden] {
    transition: .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.gb-modal[data-state=visible] {
    transition: .2s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.gb-modal[data-state=hidden] .modal-dialog {
    transition: top .3s ease-in;
    top: -150px;
}

.gb-modal[data-state=visible] .modal-dialog {
    transition: top .3s ease-out;
    top: 0px;
}
.gb-modal .backdrop {
    z-index: 999;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: none;
}

.gb-modal .modal-dialog {
    z-index: 1001;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35px;
}
.gb-modal[ng-click], .gb-modal div[ng-click] {
    cursor: default;
}

.gb-modal ul {
    list-style: none;
    padding-left: 15px;
}
.gb-modal li {
    font-size: larger;
    margin-bottom: 10px;
}
.gb-modal li li {
    font-size: medium;
}
.modal-header {
    padding-top: 23px;
    border-bottom: 0;
}

.standard-labels label {
    font-weight: normal;
    text-align: left;
}


h2 {
    padding-bottom: 5px;
    height: 72px;
}

h2 img {
    padding-right: 5px;
    float: left;
    height: 72px;
}

h2 span, h2 small {
    padding: 5px 0 0 0;
    display: block;
}

.panel[data-state=active] .panel-collapse {
    transition: max-height 0.5s;
    height: auto;
    display: block;
}
.panel[data-state=collapsed] .panel-collapse {
    transition: max-height 0.5s;
    max-height: 0;
}
.panel[data-state=collapsed] {
    border: 0px solid transparent;
}
.panel .panel-title:before {
    display: inline-block;
    font-size: 22px;
    line-height: 20px;
    margin: -3px 5px -3px 0;
}
.panel[data-state=active] .panel-title:before {
    content: "–";
}
.panel[data-state=collapsed] .panel-title:before {
    content: "+";
}

/* fix for firefox being stupid */
@-moz-document url-prefix() {
    .panel[data-state=collapsed] .panel-collapse * {
        display: none;
    }
}
/* bold hash before channels */
li.buffer.channel a span:last-of-type:before, #topbar .title .channel:before {
    color: #888;
    font-weight: bold;
}

li.buffer.channel_hash a span:last-of-type:before, #topbar .title .channel_hash:before {
    content: '#';
}

li.buffer.channel_plus a span:last-of-type:before, #topbar .title .channel_plus:before {
    content: '+';
}

li.buffer.channel_ampersand a span:last-of-type:before, #topbar .title .channel_ampersand:before {
    content: '&';
}

li.buffer.channel.active a span:last-of-type:before {
    color: #aaa;
}

li.buffer.indent.private a {
    padding-left: 17px;
}

.make-thinner {
    padding-right: -15px;
}

.settings-help {
    display: block;
    margin: -5px 0 -3px 19px;
    font-size: small;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.emojione {
    font-size: inherit;
    height: 1em;
    width: 1.1em;
    min-height: 16px;
    min-width: 16px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
}
img.emojione {
    width: auto;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* ng-cloak hides elements until Angular loads, preventing flickering */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

code {
    padding: 0px 2px;
    color: #444;
    border: 1pt solid #444;
}
