@import "base16-lunarized-dark.css";

:root {
--base00: #261e28;
--base01: #261e28;
--base02: #372f3a;
--base03: #372f3a;
--base04: #7b767c;
--base05: #b0b5ae;
--base06: #bbc1b9;
--base07: #bbc1b9;
--base08: #cc6e90;
--base09: #cb764e;
--base0A: #a78d30;
--base0B: #65a256;
--base0C: #0da891;
--base0D: #3f9fc1;
--base0E: #818dd6;
--base0F: #b179c6;
}
