@import "base16-default.css";

:root {
--base00: #212121;
--base01: #212121;
--base02: #323232;
--base03: #323232;
--base04: #787878;
--base05: #b3b3b3;
--base06: #bfbfbf;
--base07: #bfbfbf;
--base08: #cc6e90;
--base09: #cb764e;
--base0A: #a78d30;
--base0B: #65a256;
--base0C: #0da891;
--base0D: #3f9fc1;
--base0E: #818dd6;
--base0F: #b179c6;
}

.cef-22 { color:            #ce725d; }
.ceb-22 { background-color: #ce725d; }
.cef-23 { color:            #ce735b; }
.ceb-23 { background-color: #ce735b; }
.cef-24 { color:            #cd7359; }
.ceb-24 { background-color: #cd7359; }
.cef-25 { color:            #cd7456; }
.ceb-25 { background-color: #cd7456; }
.cef-26 { color:            #cc7454; }
.ceb-26 { background-color: #cc7454; }
.cef-27 { color:            #cc7552; }
.ceb-27 { background-color: #cc7552; }
.cef-28 { color:            #cb7550; }
.ceb-28 { background-color: #cb7550; }
.cef-29 { color:            #cb764e; }
.ceb-29 { background-color: #cb764e; }
.cef-30 { color:            #ca774c; }
.ceb-30 { background-color: #ca774c; }
.cef-31 { color:            #c9774a; }
.ceb-31 { background-color: #c9774a; }
.cef-32 { color:            #c97849; }
.ceb-32 { background-color: #c97849; }
.cef-33 { color:            #c87947; }
.ceb-33 { background-color: #c87947; }
.cef-34 { color:            #c77945; }
.ceb-34 { background-color: #c77945; }
.cef-35 { color:            #c67a43; }
.ceb-35 { background-color: #c67a43; }
.cef-36 { color:            #c57b42; }
.ceb-36 { background-color: #c57b42; }
.cef-37 { color:            #c47b40; }
.ceb-37 { background-color: #c47b40; }
.cef-38 { color:            #c37c3e; }
.ceb-38 { background-color: #c37c3e; }
.cef-39 { color:            #c27d3d; }
.ceb-39 { background-color: #c27d3d; }
.cef-40 { color:            #c17e3b; }
.ceb-40 { background-color: #c17e3b; }
.cef-41 { color:            #c07f3a; }
.ceb-41 { background-color: #c07f3a; }
.cef-42 { color:            #bf7f39; }
.ceb-42 { background-color: #bf7f39; }
.cef-43 { color:            #be8037; }
.ceb-43 { background-color: #be8037; }
.cef-44 { color:            #bd8136; }
.ceb-44 { background-color: #bd8136; }
.cef-45 { color:            #bc8235; }
.ceb-45 { background-color: #bc8235; }
.cef-46 { color:            #ba8334; }
.ceb-46 { background-color: #ba8334; }
.cef-47 { color:            #b98433; }
.ceb-47 { background-color: #b98433; }
.cef-48 { color:            #b88432; }
.ceb-48 { background-color: #b88432; }
.cef-49 { color:            #b68532; }
.ceb-49 { background-color: #b68532; }
.cef-50 { color:            #b58631; }
.ceb-50 { background-color: #b58631; }
.cef-51 { color:            #b38730; }
.ceb-51 { background-color: #b38730; }
.cef-52 { color:            #b28830; }
.ceb-52 { background-color: #b28830; }
.cef-53 { color:            #b08930; }
.ceb-53 { background-color: #b08930; }
.cef-54 { color:            #ae8a2f; }
.ceb-54 { background-color: #ae8a2f; }
.cef-55 { color:            #ad8a2f; }
.ceb-55 { background-color: #ad8a2f; }
.cef-56 { color:            #ab8b2f; }
.ceb-56 { background-color: #ab8b2f; }
.cef-57 { color:            #a98c2f; }
.ceb-57 { background-color: #a98c2f; }
.cef-58 { color:            #a88d2f; }
.ceb-58 { background-color: #a88d2f; }
.cef-59 { color:            #a68e30; }
.ceb-59 { background-color: #a68e30; }
.cef-60 { color:            #a48f30; }
.ceb-60 { background-color: #a48f30; }
.cef-61 { color:            #a29030; }
.ceb-61 { background-color: #a29030; }
.cef-62 { color:            #a09031; }
.ceb-62 { background-color: #a09031; }
.cef-63 { color:            #9e9132; }
.ceb-63 { background-color: #9e9132; }
.cef-64 { color:            #9c9232; }
.ceb-64 { background-color: #9c9232; }
.cef-65 { color:            #9a9333; }
.ceb-65 { background-color: #9a9333; }
.cef-66 { color:            #989434; }
.ceb-66 { background-color: #989434; }
.cef-67 { color:            #969435; }
.ceb-67 { background-color: #969435; }
.cef-68 { color:            #949536; }
.ceb-68 { background-color: #949536; }
.cef-69 { color:            #929637; }
.ceb-69 { background-color: #929637; }
.cef-70 { color:            #909739; }
.ceb-70 { background-color: #909739; }
.cef-71 { color:            #8e983a; }
.ceb-71 { background-color: #8e983a; }
.cef-72 { color:            #8c983b; }
.ceb-72 { background-color: #8c983b; }
.cef-73 { color:            #89993d; }
.ceb-73 { background-color: #89993d; }
.cef-74 { color:            #879a3e; }
.ceb-74 { background-color: #879a3e; }
.cef-75 { color:            #859a40; }
.ceb-75 { background-color: #859a40; }
.cef-76 { color:            #829b41; }
.ceb-76 { background-color: #829b41; }
.cef-77 { color:            #809c43; }
.ceb-77 { background-color: #809c43; }
.cef-78 { color:            #7e9c44; }
.ceb-78 { background-color: #7e9c44; }
.cef-79 { color:            #7b9d46; }
.ceb-79 { background-color: #7b9d46; }
.cef-80 { color:            #799e48; }
.ceb-80 { background-color: #799e48; }
.cef-81 { color:            #769e4a; }
.ceb-81 { background-color: #769e4a; }
.cef-82 { color:            #749f4b; }
.ceb-82 { background-color: #749f4b; }
.cef-83 { color:            #719f4d; }
.ceb-83 { background-color: #719f4d; }
.cef-84 { color:            #6fa04f; }
.ceb-84 { background-color: #6fa04f; }
.cef-85 { color:            #6ca051; }
.ceb-85 { background-color: #6ca051; }
.cef-86 { color:            #6aa153; }
.ceb-86 { background-color: #6aa153; }
.cef-87 { color:            #67a155; }
.ceb-87 { background-color: #67a155; }
.cef-88 { color:            #65a257; }
.ceb-88 { background-color: #65a257; }
.cef-89 { color:            #62a259; }
.ceb-89 { background-color: #62a259; }
.cef-90 { color:            #5fa35b; }
.ceb-90 { background-color: #5fa35b; }
.cef-91 { color:            #5da35d; }
.ceb-91 { background-color: #5da35d; }
.cef-92 { color:            #5aa45f; }
.ceb-92 { background-color: #5aa45f; }
.cef-93 { color:            #57a461; }
.ceb-93 { background-color: #57a461; }
.cef-94 { color:            #54a463; }
.ceb-94 { background-color: #54a463; }
.cef-95 { color:            #52a565; }
.ceb-95 { background-color: #52a565; }
.cef-96 { color:            #4fa567; }
.ceb-96 { background-color: #4fa567; }
.cef-97 { color:            #4ca569; }
.ceb-97 { background-color: #4ca569; }
.cef-98 { color:            #49a66b; }
.ceb-98 { background-color: #49a66b; }
.cef-99 { color:            #46a66d; }
.ceb-99 { background-color: #46a66d; }
.cef-100 { color:            #43a66f; }
.ceb-100 { background-color: #43a66f; }
.cef-101 { color:            #40a771; }
.ceb-101 { background-color: #40a771; }
.cef-102 { color:            #3da773; }
.ceb-102 { background-color: #3da773; }
.cef-103 { color:            #3aa775; }
.ceb-103 { background-color: #3aa775; }
.cef-104 { color:            #37a777; }
.ceb-104 { background-color: #37a777; }
.cef-105 { color:            #34a779; }
.ceb-105 { background-color: #34a779; }
.cef-106 { color:            #31a77b; }
.ceb-106 { background-color: #31a77b; }
.cef-107 { color:            #2ea87d; }
.ceb-107 { background-color: #2ea87d; }
.cef-108 { color:            #2ba87f; }
.ceb-108 { background-color: #2ba87f; }
.cef-109 { color:            #28a881; }
.ceb-109 { background-color: #28a881; }
.cef-110 { color:            #25a883; }
.ceb-110 { background-color: #25a883; }
.cef-111 { color:            #22a885; }
.ceb-111 { background-color: #22a885; }
.cef-112 { color:            #1ea887; }
.ceb-112 { background-color: #1ea887; }
.cef-113 { color:            #1ba889; }
.ceb-113 { background-color: #1ba889; }
.cef-114 { color:            #18a88b; }
.ceb-114 { background-color: #18a88b; }
.cef-115 { color:            #14a88d; }
.ceb-115 { background-color: #14a88d; }
.cef-116 { color:            #11a88f; }
.ceb-116 { background-color: #11a88f; }
.cef-117 { color:            #0da891; }
.ceb-117 { background-color: #0da891; }
.cef-118 { color:            #09a893; }
.ceb-118 { background-color: #09a893; }
.cef-119 { color:            #06a895; }
.ceb-119 { background-color: #06a895; }
.cef-120 { color:            #04a897; }
.ceb-120 { background-color: #04a897; }
.cef-121 { color:            #02a799; }
.ceb-121 { background-color: #02a799; }
.cef-122 { color:            #01a79a; }
.ceb-122 { background-color: #01a79a; }
.cef-123 { color:            #00a79c; }
.ceb-123 { background-color: #00a79c; }
.cef-124 { color:            #00a79e; }
.ceb-124 { background-color: #00a79e; }
.cef-125 { color:            #01a7a0; }
.ceb-125 { background-color: #01a7a0; }
.cef-126 { color:            #02a7a2; }
.ceb-126 { background-color: #02a7a2; }
.cef-127 { color:            #04a6a4; }
.ceb-127 { background-color: #04a6a4; }
.cef-128 { color:            #07a6a5; }
.ceb-128 { background-color: #07a6a5; }
.cef-129 { color:            #0ba6a7; }
.ceb-129 { background-color: #0ba6a7; }
.cef-130 { color:            #0ea6a9; }
.ceb-130 { background-color: #0ea6a9; }
.cef-131 { color:            #12a5aa; }
.ceb-131 { background-color: #12a5aa; }
.cef-132 { color:            #15a5ac; }
.ceb-132 { background-color: #15a5ac; }
.cef-133 { color:            #18a5ae; }
.ceb-133 { background-color: #18a5ae; }
.cef-134 { color:            #1ba4af; }
.ceb-134 { background-color: #1ba4af; }
.cef-135 { color:            #1fa4b1; }
.ceb-135 { background-color: #1fa4b1; }
.cef-136 { color:            #22a4b3; }
.ceb-136 { background-color: #22a4b3; }
.cef-137 { color:            #25a3b4; }
.ceb-137 { background-color: #25a3b4; }
.cef-138 { color:            #28a3b6; }
.ceb-138 { background-color: #28a3b6; }
.cef-139 { color:            #2ba3b7; }
.ceb-139 { background-color: #2ba3b7; }
.cef-140 { color:            #2da2b9; }
.ceb-140 { background-color: #2da2b9; }
.cef-141 { color:            #30a2ba; }
.ceb-141 { background-color: #30a2ba; }
.cef-142 { color:            #33a1bb; }
.ceb-142 { background-color: #33a1bb; }
.cef-143 { color:            #36a1bd; }
.ceb-143 { background-color: #36a1bd; }
.cef-144 { color:            #39a0be; }
.ceb-144 { background-color: #39a0be; }
.cef-145 { color:            #3ba0bf; }
.ceb-145 { background-color: #3ba0bf; }
.cef-146 { color:            #3e9fc1; }
.ceb-146 { background-color: #3e9fc1; }
.cef-147 { color:            #419fc2; }
.ceb-147 { background-color: #419fc2; }
.cef-148 { color:            #439ec3; }
.ceb-148 { background-color: #439ec3; }
.cef-149 { color:            #469ec4; }
.ceb-149 { background-color: #469ec4; }
.cef-150 { color:            #499dc5; }
.ceb-150 { background-color: #499dc5; }
.cef-151 { color:            #4b9dc7; }
.ceb-151 { background-color: #4b9dc7; }
.cef-152 { color:            #4e9cc8; }
.ceb-152 { background-color: #4e9cc8; }
.cef-153 { color:            #509cc9; }
.ceb-153 { background-color: #509cc9; }
.cef-154 { color:            #539bca; }
.ceb-154 { background-color: #539bca; }
.cef-155 { color:            #559bcb; }
.ceb-155 { background-color: #559bcb; }
.cef-156 { color:            #579acc; }
.ceb-156 { background-color: #579acc; }
.cef-157 { color:            #5a99cd; }
.ceb-157 { background-color: #5a99cd; }
.cef-158 { color:            #5c99cd; }
.ceb-158 { background-color: #5c99cd; }
.cef-159 { color:            #5e98ce; }
.ceb-159 { background-color: #5e98ce; }
.cef-160 { color:            #6197cf; }
.ceb-160 { background-color: #6197cf; }
.cef-161 { color:            #6397d0; }
.ceb-161 { background-color: #6397d0; }
.cef-162 { color:            #6596d0; }
.ceb-162 { background-color: #6596d0; }
.cef-163 { color:            #6796d1; }
.ceb-163 { background-color: #6796d1; }
.cef-164 { color:            #6a95d2; }
.ceb-164 { background-color: #6a95d2; }
.cef-165 { color:            #6c94d2; }
.ceb-165 { background-color: #6c94d2; }
.cef-166 { color:            #6e94d3; }
.ceb-166 { background-color: #6e94d3; }
.cef-167 { color:            #7093d3; }
.ceb-167 { background-color: #7093d3; }
.cef-168 { color:            #7292d4; }
.ceb-168 { background-color: #7292d4; }
.cef-169 { color:            #7491d4; }
.ceb-169 { background-color: #7491d4; }
.cef-170 { color:            #7691d5; }
.ceb-170 { background-color: #7691d5; }
.cef-171 { color:            #7990d5; }
.ceb-171 { background-color: #7990d5; }
.cef-172 { color:            #7b8fd5; }
.ceb-172 { background-color: #7b8fd5; }
.cef-173 { color:            #7d8fd6; }
.ceb-173 { background-color: #7d8fd6; }
.cef-174 { color:            #7f8ed6; }
.ceb-174 { background-color: #7f8ed6; }
.cef-175 { color:            #818dd6; }
.ceb-175 { background-color: #818dd6; }
.cef-176 { color:            #828dd6; }
.ceb-176 { background-color: #828dd6; }
.cef-177 { color:            #848cd6; }
.ceb-177 { background-color: #848cd6; }
.cef-178 { color:            #868bd6; }
.ceb-178 { background-color: #868bd6; }
.cef-179 { color:            #888ad6; }
.ceb-179 { background-color: #888ad6; }
.cef-180 { color:            #8a8ad6; }
.ceb-180 { background-color: #8a8ad6; }
.cef-181 { color:            #8c89d6; }
.ceb-181 { background-color: #8c89d6; }
.cef-182 { color:            #8e88d6; }
.ceb-182 { background-color: #8e88d6; }
.cef-183 { color:            #8f87d6; }
.ceb-183 { background-color: #8f87d6; }
.cef-184 { color:            #9187d6; }
.ceb-184 { background-color: #9187d6; }
.cef-185 { color:            #9386d5; }
.ceb-185 { background-color: #9386d5; }
.cef-186 { color:            #9585d5; }
.ceb-186 { background-color: #9585d5; }
.cef-187 { color:            #9685d5; }
.ceb-187 { background-color: #9685d5; }
.cef-188 { color:            #9884d4; }
.ceb-188 { background-color: #9884d4; }
.cef-189 { color:            #9a83d4; }
.ceb-189 { background-color: #9a83d4; }
.cef-190 { color:            #9b82d3; }
.ceb-190 { background-color: #9b82d3; }
.cef-191 { color:            #9d82d2; }
.ceb-191 { background-color: #9d82d2; }
.cef-192 { color:            #9f81d2; }
.ceb-192 { background-color: #9f81d2; }
.cef-193 { color:            #a080d1; }
.ceb-193 { background-color: #a080d1; }
.cef-194 { color:            #a280d0; }
.ceb-194 { background-color: #a280d0; }
.cef-195 { color:            #a37fd0; }
.ceb-195 { background-color: #a37fd0; }
.cef-196 { color:            #a57ecf; }
.ceb-196 { background-color: #a57ecf; }
.cef-197 { color:            #a67ece; }
.ceb-197 { background-color: #a67ece; }
.cef-198 { color:            #a87dcd; }
.ceb-198 { background-color: #a87dcd; }
.cef-199 { color:            #a97ccc; }
.ceb-199 { background-color: #a97ccc; }
.cef-200 { color:            #ab7ccb; }
.ceb-200 { background-color: #ab7ccb; }
.cef-201 { color:            #ac7bca; }
.ceb-201 { background-color: #ac7bca; }
.cef-202 { color:            #ad7ac9; }
.ceb-202 { background-color: #ad7ac9; }
.cef-203 { color:            #af7ac8; }
.ceb-203 { background-color: #af7ac8; }
.cef-204 { color:            #b079c7; }
.ceb-204 { background-color: #b079c7; }
.cef-205 { color:            #b178c5; }
.ceb-205 { background-color: #b178c5; }
.cef-206 { color:            #b378c4; }
.ceb-206 { background-color: #b378c4; }
.cef-207 { color:            #b477c3; }
.ceb-207 { background-color: #b477c3; }
.cef-208 { color:            #b577c1; }
.ceb-208 { background-color: #b577c1; }
.cef-209 { color:            #b676c0; }
.ceb-209 { background-color: #b676c0; }
.cef-210 { color:            #b876be; }
.ceb-210 { background-color: #b876be; }
.cef-211 { color:            #b975bd; }
.ceb-211 { background-color: #b975bd; }
.cef-212 { color:            #ba75bb; }
.ceb-212 { background-color: #ba75bb; }
.cef-213 { color:            #bb74ba; }
.ceb-213 { background-color: #bb74ba; }
.cef-214 { color:            #bc74b8; }
.ceb-214 { background-color: #bc74b8; }
.cef-215 { color:            #bd73b6; }
.ceb-215 { background-color: #bd73b6; }
.cef-216 { color:            #be73b5; }
.ceb-216 { background-color: #be73b5; }
.cef-217 { color:            #bf72b3; }
.ceb-217 { background-color: #bf72b3; }
.cef-218 { color:            #c072b1; }
.ceb-218 { background-color: #c072b1; }
.cef-219 { color:            #c171af; }
.ceb-219 { background-color: #c171af; }
.cef-220 { color:            #c271ad; }
.ceb-220 { background-color: #c271ad; }
.cef-221 { color:            #c371ab; }
.ceb-221 { background-color: #c371ab; }
.cef-222 { color:            #c470a9; }
.ceb-222 { background-color: #c470a9; }
.cef-223 { color:            #c570a7; }
.ceb-223 { background-color: #c570a7; }
.cef-224 { color:            #c570a5; }
.ceb-224 { background-color: #c570a5; }
.cef-225 { color:            #c66fa3; }
.ceb-225 { background-color: #c66fa3; }
.cef-226 { color:            #c76fa1; }
.ceb-226 { background-color: #c76fa1; }
.cef-227 { color:            #c86f9f; }
.ceb-227 { background-color: #c86f9f; }
.cef-228 { color:            #c86f9d; }
.ceb-228 { background-color: #c86f9d; }
.cef-229 { color:            #c96f9b; }
.ceb-229 { background-color: #c96f9b; }
.cef-230 { color:            #ca6e99; }
.ceb-230 { background-color: #ca6e99; }
.cef-231 { color:            #ca6e96; }
.ceb-231 { background-color: #ca6e96; }
.cef-232 { color:            #cb6e94; }
.ceb-232 { background-color: #cb6e94; }
.cef-233 { color:            #cb6e92; }
.ceb-233 { background-color: #cb6e92; }
.cef-234 { color:            #cc6e90; }
.ceb-234 { background-color: #cc6e90; }
.cef-235 { color:            #cc6e8d; }
.ceb-235 { background-color: #cc6e8d; }
.cef-236 { color:            #cd6e8b; }
.ceb-236 { background-color: #cd6e8b; }
.cef-237 { color:            #cd6e89; }
.ceb-237 { background-color: #cd6e89; }
.cef-238 { color:            #ce6e86; }
.ceb-238 { background-color: #ce6e86; }
.cef-239 { color:            #ce6e84; }
.ceb-239 { background-color: #ce6e84; }
.cef-240 { color:            #ce6e82; }
.ceb-240 { background-color: #ce6e82; }
.cef-241 { color:            #ce6e7f; }
.ceb-241 { background-color: #ce6e7f; }
.cef-242 { color:            #cf6e7d; }
.ceb-242 { background-color: #cf6e7d; }
.cef-243 { color:            #cf6e7b; }
.ceb-243 { background-color: #cf6e7b; }
.cef-244 { color:            #cf6e78; }
.ceb-244 { background-color: #cf6e78; }
.cef-245 { color:            #cf6e76; }
.ceb-245 { background-color: #cf6e76; }
.cef-246 { color:            #cf6f74; }
.ceb-246 { background-color: #cf6f74; }
.cef-247 { color:            #cf6f71; }
.ceb-247 { background-color: #cf6f71; }
.cef-248 { color:            #cf6f6f; }
.ceb-248 { background-color: #cf6f6f; }
.cef-249 { color:            #cf6f6d; }
.ceb-249 { background-color: #cf6f6d; }
.cef-250 { color:            #cf706a; }
.ceb-250 { background-color: #cf706a; }
.cef-251 { color:            #cf7068; }
.ceb-251 { background-color: #cf7068; }
.cef-252 { color:            #cf7066; }
.ceb-252 { background-color: #cf7066; }
.cef-253 { color:            #cf7164; }
.ceb-253 { background-color: #cf7164; }
.cef-254 { color:            #cf7161; }
.ceb-254 { background-color: #cf7161; }
.cef-255 { color:            #ce725f; }
.ceb-255 { background-color: #ce725f; }
