@import "base16-lunarized-dark.css";

:root {
--base00: #eff6f9;
--base01: #eff6f9;
--base02: #e5ecef;
--base03: #e5ecef;
--base04: #afb5b8;
--base05: #7f7672;
--base06: #716965;
--base07: #716965;
--base08: #cc6e90;
--base09: #cb764e;
--base0A: #a78d30;
--base0B: #65a256;
--base0C: #0da891;
--base0D: #3f9fc1;
--base0E: #818dd6;
--base0F: #b179c6;
}
