<div ng-show="plugin.visible">
  <button class="btn btn-default btn-sm pull-right unselectable"
          ng-click="hideContent()">
    Hide {{ ::plugin.name }}
  </button>

  <div ng-bind-html="displayedContent" class="embed" ng-class="::plugin.className"></div>
</div>

<div ng-hide="plugin.visible">
  <button class="btn btn-default btn-sm pull-right unselectable"
          ng-class="::{
                    'btn-warning': plugin.nsfw,
                    'btn-primary': !plugin.nsfw}"
          ng-click="showContent()">
          Show {{ ::plugin.name }}
  </button>
</div>
