<h2>
  <img alt="logo" src="img/favicon.png">
  glowing bear
  <small>
    WeeChat web frontend
  </small>
</h2>
<div class="alert alert-danger" ng-show="errorMessage">
  <strong>Connection error</strong> The client was unable to connect to the WeeChat relay
</div>
<div class="panel-group" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Connection settings
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <form class="form-signin" role="form">
          <div class="form-group">
            <label class="control-label" for="host">WeeChat relay hostname and port number</label>
            <div class="input-group">
              <input type="text" class="form-control monospace" id="host" ng-model="host" placeholder="Address">
              <input type="text" class="form-control monospace" id="port" ng-model="port" placeholder="9001">
            </div>
            <label class="control-label" for="password">WeeChat relay password</label> 
            <input type="password" class="form-control monospace" id="password" ng-model="password" placeholder="Password">
            <div class="alert alert-danger" ng-show="passwordError">
              Error: wrong password
            </div>

            <div class="checkbox">
              <label class="control-label" for="savepassword">
                <input type="checkbox" id="savepassword" ng-model="savepassword">
                Save password in your browser
              </label>
            </div>
            <div class="checkbox">
              <label class="control-label" for="ssl">
                <input type="checkbox" id="ssl" ng-model="ssl">
                Encryption. Read instructions for help
              </label>
            </div>
          </div>
          <button class="btn btn-lg btn-primary" ng-click="connect()">Connect <i class="glyphicon glyphicon-chevron-right"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Usage instructions
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>Configuring the relay</h3>
        <div>To start using glowing bear, please enable the relay plugin in your WeeChat client:
          <pre>
            /set relay.network.password yourpassword
            /relay add weechat 9001
          </pre>
          <span class="label label-danger">WeeChat version 0.4.2 or higher is required.</span><br>
          The communication goes directly between your browser and your WeeChat relay in plain text. Check the instructions below for help on setting up encrypted communication.
          Connection settings, including your password, are saved locally in your own browser between sessions.
          <br>
          <h3>Shortcuts</h3>
          Glowing Bear has a few shortcuts:
          <ul>
            <li>ALT+n: Toggle nicklist</li>
            <li>ALT+l: Focus on input bar</li>
            <li>ALT-[0-9]: Focus on buffer</li>
            <li>ALT-a: Focus on next buffer with activity</li>
            <li>CTRL+G: Focus on buffer list filter</li>
            <li>escape: disconnect</li>
            <li>arrow keys: history navigation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Encryption instructions
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        If you check the encryption box, the communication between browser and WeeChat will be encrypted.<br>
        <strong>Note</strong>: Due to a <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=594502">bug</a> encryption will not work in Firefox. Unless you are using a certificate trusted by your browser, you must also first visit the URL https://weechathost:relayport/ to mark the certificate as trusted.</p>
If you want to use an encrypted session you first have to set up the relay to use SSL. It is easiest to use a self-signed certificate, which you can create like this:
<pre>
  $ mkdir -p ~/.weechat/ssl
  $ cd ~/.weechat/ssl
  $ openssl req -nodes -newkey rsa:4096 -keyout relay.pem -x509 -days 365 -out relay.pem
</pre>
If WeeChat is already running, you can reload the certificate and private key and set up an encrypted relay on port 8000 with these commands:
<pre>
  /relay sslcertkey
  /relay add ssl.weechat 8000
</pre>
</div>
</div>
</div>
<div class="panel" ng-hide="isinstalled">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        Install app
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
      <p>If you have a recent version of Firefox you can install glowing bear as an app. Click the button to install.</p>
      <button class="btn btn-lg btn-primary" ng-click="install()">Install app <i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        Get involved
      </a>
    </h4>
  </div>
  <div id="collapseFive" class="panel-collapse collapse">
    <div class="panel-body">
      <p>Glowing bear is built by a small group of developers in their free time. As we're always trying to improve it, we would love getting your feedback and help. If that sounds like something you might enjoy, check out our <a href="https://github.com/cormier/glowing-bear">project page</a> on GitHub!</p>
      <p>If you're interested in contributing or simply want to say hello, head over to <strong>#glowing-bear</strong> on <strong>freenode!</strong> We won't bite, promise (-ish).</p>
    </div>
  </div>
</div>
</div>
</div>
